.projects-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.projects-container .portfolio-item{
    width: 31%;
    margin-bottom: 50px;
    background: var(--color-bg-variant);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: var(--transition);
}
.portfolio-item-img{
    border-radius: 15px;
    overflow: hidden;
}
.portfolio-item-img img{
    transition: var(--transition);

}
.portfolio-item-img img:hover{
    transform: scale(1.2);
}
.portfolio-item h3 {
    margin: 22px 0;
}
.portfolio-item p {
    margin-bottom: 15px;
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.portfolio-item-btns{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

/* Responsive */
@media (max-width:1024px){
    .projects-container .portfolio-item{
        width: 48%;
    }
    
}
@media (max-width:600px){
    .projects-container .portfolio-item{
        width: 100%;
    }

}