.home{
    /* height: 100vh; */
    padding-top: 100px;
    overflow: hidden;
}
.home-container{
    text-align: center;
    height: 100%;
    position: relative;
}
.btns{
    display: flex;
    gap: 1.2rem;
    margin-top: 2.5rem;
    justify-content: center;
}

.home-container h4{
    font-size: 1.5rem;
}
.home-container .me{
    width: 330px;
    height: 400px;
    background: linear-gradient(var(--color-primary), transparent);
    border-radius: 12rem 12rem 0 0;
    margin: 40px auto;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    overflow: hidden;
}

.scroll-down{
    position: absolute;
    right: -35px;
    bottom: 50px;
    transform: rotate(90deg);
    font-weight: 300;
}
.home-socials{
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: -50px;
    position: absolute;
    gap: 0.8rem;
    align-items: center;
}
.home-socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
.home-socials a{
    font-size: 25px;
}


/* Responsive */
@media (max-width:1024px) {
    .home{
        height: auto;
    /* min-height: 68vh; */


    }
}

@media (max-width:600px) {
    .home{
        height: auto;
        padding-top: 5rem;
    }
    .home-socials , .scroll-down{
        display: none;
    }
    .home h1{
        font-size: 2rem;
    }
    .home-container .me {
        max-width: 100%;
        width: min(300px, 90%);
        height: 380px;
    }
}